<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kurman Portfolio</title>
    <link rel="stylesheet" href="/layout.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">

</head>
<body>
<header class="navbar">
    <a href="/" class="kurt">Kurman</a>
    <section class="navbar-section">
        <a  href="/faqs" class="btn btn-link btn-sm">FAQ</a>
        <a href="/projects" class="btn btn-link btn-sm">Projects</a>
        <a href="/blogs" class="btn btn-link btn-sm">Blog</a>
        <a href="/about" class="btn btn-link btn-sm">About</a>
        <a href="/contact" class="btn btn-link btn-sm">Contact</a>
        {{#unless isSignedIn}}
            <a href="/sign-in" class="btn btn-link btn-sm">Sign in</a>
        {{/unless}}
        {{#if isSignedIn}}
          <form class="form" action="/sign-out" method="post">
            <input
              class="btn btn-link btn-sm"
              type="submit"
              value="Sign Out"
            /></form>
        {{/if}}
    </section>
</header>

    <div class="bodys">
        {{{body}}}
    </div>
    
    <footer>
    <div class="columns col-gapless">
        <div class="column col-4"></div>
        <div class="column col-4">
            <ul class="footer-name">Rasmus Kurman</ul>
        </div>
        <div class="column col-4">
           <ul class="footer-list">
            <p class="footer-name">SoMe</p>
            <li>insta @rasmuskurman</li>
            <li>LinkedIn @Rasmus Kurman</li>
            <li>Mail: rasmus@kurman.se</li>
           </ul>
        </div>
    </div>
    </footer>
</body>
</html>