<h2>Blog</h2>
{{#if blogPost.length}}
  <ul class="list-items">{{#each blogPost}}
    <li><a class="btn btn-link" href="/blogPost/{{blogId}}">{{blogTitle}}</a></li>
  {{/each}}</ul>
{{else}}
  <p>No post exist.</p>
{{/if}}
{{#if isSignedIn}}
  <a href="/new-blog-post" class="btn">New post</a>
{{/if}}