<h2>Contact me</h2>
<p>You can contact me on either my instagram <a href="https://www.instagram.com/rasmuskurman/">@rasmuskurman</a>
<br> or on LinkedIn: <a href="https://www.linkedin.com/in/rasmuskurman">@Rasmus Kurman</a></p>