<h2>FAQ</h2>
{{#if faqPost.length}}
  <ul class="list-items">
    {{#each faqPost}}
      <li><a href="/faqPost/{{faqId}}">{{faqTitle}}</a></li>
    {{/each}}
  </ul>
{{else}}
  <p>No post exist.</p>
{{/if}}

  <a href="/new-faq-post" class="btn">New post</a>

