<h2>New Project</h2>

{{#if errors.length}}
  <p>Could not post new Project</p>
  <ul>{{#each errors}}
    <li>{{this}}</li>
  {{/each}}</ul>
{{/if}}

<form class="forms" action="/new-project" method="post">
  <input type="text" placeholder="Title" name="projectTitle" value="{{title}}"/>
  <input type="text" placeholder="Content" name="projectContent" value="{{content}}"/>
  <input type="url" placeholder="Project Link" name="projectLink" value="{{link}}"/>
  <input type="submit" value="Add Post"/>
</form>