<H2>New FAQ Question</H2>
<p>Create a new FAQ post!</p>
<form class="forms" action="/new-faq-post" method="post">
  <input
    type="text"
    placeholder="Title"
    name="faqTitle"
    value="{{title}}"
  />
  <input
    type="text"
    placeholder="Content"
    name="faqContent"
    value="{{content}}"
  />
  <input type="submit" value="Post FAQ" />
</form>