<h2>My Previos Projects</h2>
{{#if projectPost.length}}
  <ul class="list-items">
    {{#each projectPost}}
      <li><a href="/projectPost/{{projectId}}">{{projectTitle}}</a></li>
    {{/each}}
  </ul>
{{else}}
  <p>No post exist.</p>
{{/if}}
{{#if isSignedIn}}
  <div class="buttons">
    <a href="/new-project" class="btn">New Project</a>
  </div>
{{/if}}
