<h2>My Previos Projects</h2>
{{#if projectPost.length}}
  <ul class="list-items">{{#each projectPost}}
    <li><a class="btn btn-link" href="/projectPost/{{projectId}}">{{projectTitle}}</a></li>
  {{/each}}</ul>
{{else}}
  <p>No post exist.</p>
{{/if}}
{{#if isSignedIn}}
    <a href="/new-project" class="btn">New Project</a>
{{/if}}
