<h2>Update Project</h2>

{{#if errora.length}}
  <p>Could not update blog</p>
  <ul>
    {{#each errors}}
      <li>{{this}}</li>
    {{/each}}
  </ul>
{{/if}}

<form method="post">
  <input
    type="text"
    placeholder="Title"
    name="title"
    value="{{projects.title}}"
  />
  <input
    type="text"
    placeholder="Content"
    name="content"
    value="{{projects.content}}"
  />
  <input
    type="url"
    placeholder="Project Link"
    name="link"
    value="{{projects.link}}"
  />
  <input type="submit" value="Update" />
</form>