body {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: o;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.kurt {
  font-size: 24px;
}

footer {
padding: 1%;
color: #fbfbfb;
background-color: #141414;
}

.bodys {
  flex: 1;
  color: #141414;
  padding-top: 6%;
  padding-left: 2%;
  padding-right: 2%;
  background-color: #fbfbfb;
}

.navbar {
  padding-left: 2%;
  padding-right: 2%;
  background-color: #fbfbfb;
}

.list-items {
  list-style: none;
}

.footer-name {
  font-size: 18px;
  color: #807fe2;
}

.footer-list {
  font-size: 12px;
  list-style: none;
}

.buttons {
  margin-top: 7vh;
}

.button {
  border-style: none;
  display: contents;
}

